Repository hughy603/anaconda-to-miniconda: changes, and which pre-commit hooks are due for each by the changed paths.
All: deps-lock, uv-lock, pytest-check, validate-changed-workflows, validate-workflows-pre-push

Path conditions:
  deps-lock: any of: ^(pyproject\.toml|requirements\.lock)$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
  pytest-check: any of: \.py$
  validate-changed-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-workflows-pre-push: any of: ^\.github/workflows/.*\.ya?ml$

chore: downgrade UV_VERSION in GitHub Actions workflows to 0.6.14
  .github/workflows/docs.yml
  .github/workflows/security-scan.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: adjust coverage threshold in pytest configuration
  pytest.ini
Due: none

chore: enhance GitHub Actions workflow for documentation build
  .github/workflows/docs.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: comment out SonarQube scan steps in GitHub Actions workflow
  .github/workflows/security-scan.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: update documentation and pre-commit configuration
  .pre-commit-config.yaml
  docs/index.md
  mkdocs.yml
  pyproject.toml
Due: deps-lock, uv-lock

chore: update repository references and enhance documentation
  .github/events/templates/push.json
  docs/404.md
  docs/dev/contributing.md
  docs/dev/setup.md
  docs/index.md
  docs/user/faq.md
  docs/user/getting-started.md
  docs/user/troubleshooting.md
  mkdocs.yml
  run-act.ps1
  scripts/cleanup_docs.py
Due: pytest-check

chore: refactor dependency management and remove obsolete script
  pyproject.toml
  scripts/cleanup_docs.py
Due: deps-lock, uv-lock, pytest-check

chore: update dependency management and enhance project configuration
  .github/events/templates/push.json
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: deps-lock, uv-lock, pytest-check

test: downgrade pyyaml to test Dependabot
  pyproject.toml
Due: deps-lock, uv-lock

chore: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

chore: update project configuration and enhance GitHub Actions workflows
  .github/actions/mock-service/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/GITHUB_ACTIONS_LOCAL.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-release.ps1
  pyproject.toml
Due: deps-lock, uv-lock, validate-changed-workflows, validate-workflows-pre-push

chore: enhance CI workflow with improved timeout handling and repository checkout step
  .github/workflows/ci.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: add push.json for release GitHub webhook integration and enhance CI workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  push.json
Due: validate-changed-workflows, validate-workflows-pre-push

chore: add repository checkout step to CI workflows
  .github/workflows/docs.yml
  .github/workflows/security-scan.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: update pre-commit configuration and enhance documentation
  .github/actions/mock-service/action.yml
  .pre-commit-config.yaml
  docs/user/faq.md
Due: none

chore: remove obsolete files and scripts
  .github/actionlint.yaml
  .github/actions/diagnostic-info/action.yml
  .github/actions/mock-service/action.yml
  .github/actions/setup-python-env/action.yml
  .github/pre-commit-workflow-hooks.yaml
  .github/release-drafter.yml
  .github/scripts/check_python_compatibility.py
  .github/scripts/pre-push.sh
  docs/templates/standard_doc_template.md
  push.json
  run-act.sh
Due: pytest-check

chore: update GitHub Actions mock service to use event inputs
  .github/actions/mock-service/action.yml
Due: none

chore: simplify default mock script in GitHub Actions
  .github/actions/mock-service/action.yml
Due: none

chore: add repository checkout step in release workflow
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: remove unused commands from pyproject.toml
  pyproject.toml
Due: deps-lock, uv-lock

chore: enhance release workflow with virtual environment and linting
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

fix: update dependency installation path in release workflow
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: refine pre-commit configuration and update dependency locking
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-prod.lock
  requirements.lock
Due: deps-lock, uv-lock, validate-changed-workflows, validate-workflows-pre-push

chore: update release workflow to include pre-commit installation
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

feat: enhance release workflow error handling for validation and test failures
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

refactor: streamline context variable usage in release workflow
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: optimize release workflow for dependency management and testing
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: update release workflow to include additional dependencies
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: update pre-commit configuration and dependencies
  .github/ISSUE_TEMPLATE/issue.md
  .github/SECURITY.md
  .github/changelog_template.md
  .github/pull_request_template.md
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  SECURITY.md
  docs/about/changelog.md
  docs/dev/cli-documentation-guide.md
  docs/dev/conventional-commits.md
  docs/dev/documentation.md
  docs/dev/quick-reference.md
  docs/dev/releasing.md
  docs/user/cli-admin-guide.md
  docs/user/cli-quick-reference.md
  docs/user/cli-reference.md
  requirements-prod.lock
  requirements.lock
  tests/test_integration.py
Due: deps-lock, pytest-check, validate-changed-workflows, validate-workflows-pre-push

chore: enhance release workflow with debug information and grouping
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: optimize release workflow for production dependency management
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: enhance release workflow with security and environment improvements
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push

chore: update pre-commit configuration for platform-specific dependency locking
  .pre-commit-config.yaml
  requirements-prod.lock
  requirements.lock
Due: deps-lock

chore: add development dependencies for linting in release workflow
  .github/workflows/release.yml
Due: validate-changed-workflows, validate-workflows-pre-push
