Repository hughy603/anaconda-to-miniconda: changes, and which pre-commit hooks are due for each by the changed paths.
All: deps-lock, uv-lock, actionlint

deps-lock:
  name: Lock dependencies with UV
  entry: uv pip compile pyproject.toml --output-file=requirements.lock --extra=dev --extra=test
  language: system
  pass_filenames: false

uv-lock:
  name: Update UV lockfile
  entry: uv lock
  language: system
  pass_filenames: false

actionlint:
  name: Lint GitHub Actions workflows
  description: Run actionlint on GitHub Actions workflow files
  entry: actionlint
  args:
  - -color
  - -ignore
  - SC2016
  language: system

fix: update GitHub Actions scripts for local testing; add REVIEWDOG_GITHUB_API_TOKEN and correct variable references
  .github/scripts/test-github-actions.ps1
  .github/workflows/security-scan.yml
  .github/workflows/validate-workflows.yml
Due: actionlint

fix: comment out Codecov upload step in CI workflow
  .github/workflows/ci.yml
Due: actionlint

fix: update GitHub Actions workflow caching step to use quotes for environment variables
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: actionlint

feat: add shellcheck validation scripts and actionlint configuration; enhance GitHub Actions workflows
  .github/actionlint.yaml
  .github/scripts/check-shellcheck-installed.ps1
  .github/scripts/check-shellcheck-installed.sh
  .github/scripts/check-workflow-shellcheck.sh
  .github/workflows/release.yml
  .github/workflows/test-shellcheck.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: actionlint

fix: update GitHub Actions workflows and configuration; ensure proper quoting and enhance shellcheck settings
  .github/actionlint.yaml
  .github/workflows/benchmark.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci-local-compatible.yml
  .github/workflows/ci.yml
  .github/workflows/ci.yml.example
  .github/workflows/docs.yml
  .github/workflows/maintenance.yml
  .pre-commit-config.yaml
Due: actionlint

fix: replace manual actionlint installation with reviewdog/action-actionlint for improved workflow validation
  .github/workflows/validate-all-workflows.yml
Due: actionlint

fix: update branch references from 'main' to 'master' in workflow files and documentation
  .github/workflows/benchmark.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-all-workflows.yml
  .github/workflows/validate-workflows.yml
  CONTRIBUTING.md
  README.md
Due: actionlint

feat: add initialization script and workflow for gh-pages branch; implement performance benchmarking setup and documentation
  .github/scripts/initialize-gh-pages.sh
  .github/workflows/benchmark.yml
  .github/workflows/initialize-gh-pages.yml
  README.md
  docs/dev/benchmarks.md
  mkdocs.yml
  pyproject.toml
  pyrightconfig.json
  tests/benchmarks/test_basic_benchmarks.py
  tests/benchmarks/test_converter_benchmarks.py
  uv.lock
Due: deps-lock, uv-lock, actionlint

fix: add pytest-benchmark to test dependencies and exclude benchmark tests from regular runs
  pyproject.toml
Due: deps-lock, uv-lock

feat: implement install_package script for consistent package installation using UV; update documentation to reflect changes
  DEPENDENCY_MANAGEMENT.md
  README.md
  scripts/install_package.py
Due: none

feat: add pre-push hook to run pre-commit checks on all files; update documentation to reflect changes
  .pre-commit-config.yaml
  CONTRIBUTING.md
  DEPENDENCY_MANAGEMENT.md
  pyrightconfig.json
  requirements.lock
  scripts/install_package.py
  tests/benchmarks/test_converter_benchmarks.py
  uv.lock
Due: deps-lock, uv-lock

docs: update CONTRIBUTING.md to include note about pre-push hook for pre-commit checks
  CONTRIBUTING.md
Due: none

fix: add pre-push hook to run pre-commit checks on all files; update CONTRIBUTING.md to reflect changes
  .github/scripts/pre-push-check.sh
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

feat: enhance pre-push checks and update CONTRIBUTING.md; improve install_package script with editable project handling
  .github/scripts/pre-push-check.sh
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/install_package.py
  tests/test_basic.py
Due: none

feat: simplify pre-commit configuration and enhance GitHub Actions validation; remove redundant scripts and update documentation
  .github/scripts/pre-push-check.sh
  .github/scripts/validate-github-actions.py
  .pre-commit-config.yaml
  CONTRIBUTING.md
  code-quality-improvements.md
Due: none

fix: ensure newline at end of file in validate-github-actions.py; update CONTRIBUTING.md and code-quality-improvements.md for consistency and clarity
  .github/scripts/validate-github-actions.py
  CONTRIBUTING.md
  code-quality-improvements.md
Due: none

feat: implement pre-push script for essential checks; update documentation to reflect changes in pre-push process
  .github/scripts/pre-push.sh
  .pre-commit-config.yaml
  code-quality-improvements.md
Due: none

format: add newline at end of file in pre-push script; update code-quality-improvements.md for clarity on new pre-push hook implementation
  .github/scripts/pre-push.sh
  code-quality-improvements.md
Due: none

refactor: optimize pre-push script to run only essential type checks; move formatting checks to pre-commit stage and update documentation for clarity
  .github/scripts/pre-push.sh
  .pre-commit-config.yaml
  code-quality-improvements.md
Due: none

refactor: optimize pre-push script and pre-commit configuration; ensure consistent tool availability and clarify documentation
  .github/scripts/pre-push.sh
  .pre-commit-config.yaml
  code-quality-improvements.md
Due: none

style: add newline at end of file in pre-push script; update code-quality-improvements.md for clarity on new pre-push hook implementation
  .pre-commit-config.yaml
Due: none

feat: add commit message validation and template
  .github/commit-template.txt
  CONTRIBUTING.md
  scripts/setup_git_hooks.py
Due: none

refactor: documentation for test coverage and version management; simplify guides and remove outdated content
  CONTRIBUTING.md
  DEPENDENCY_MANAGEMENT.md
  GITHUB_ACTIONS_IMPROVEMENTS.md
  README.md
  TEST_COVERAGE.md
  VERSION_MANAGEMENT.md
  code-quality-improvements.md
  github-actions-analysis.md
  github-actions-guide.md
  github-actions-priority-improvements.md
Due: none

chore: revert version to 0.0.1-dev.1
  CHANGELOG.md
  src/conda_forge_converter/_version.py
Due: none

feat: enhance local testing support in GitHub Actions workflows; add mock steps and environment variables
  .github/workflows/benchmark.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-workflows.yml
  GITHUB_ACTIONS_LOCAL.md
  github-actions-local.ps1
Due: actionlint

feat: enhance local testing support in documentation workflows; add mock upload steps for artifacts
  .github/workflows/docs.yml
Due: actionlint

refactor: replace UV installation method with pip in CI and workflow files; remove deprecated script calls
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  tests/test_vscode_setup.py
Due: actionlint

feat: Add comprehensive GitHub Actions workflow validation automation
  .github/local-secrets.json.template
  .github/workflows/validate-workflows.yml
  .pre-commit-config.yaml
  .vscode/PSScriptAnalyzerSettings.psd1
  .vscode/actionlint-matcher.json
  .vscode/extensions.json
  .vscode/github-actions-snippets/basic-workflow.yml
  .vscode/scripts/validate-workflows.ps1
  .vscode/scripts/validate-workflows.sh
  .vscode/settings.json
  .vscode/tasks.json
  .vscode/yaml.code-snippets
  GITHUB_ACTIONS_VALIDATION.md
  README.md
  act-custom-images.config
  validate-all-workflows.ps1
  validate-all-workflows.sh
Due: actionlint

refactor: update platform mappings for Linux containers in act configuration; enhance execution command for cross-platform support
  act-custom-images.config
  src/github_actions_validator/validators/execution.py
  validate-all-workflows.py
Due: none

feat: enhance testing framework with new test cases for discovery and error handling modules; update README for clarity on test execution
  .coveragerc
  .pre-commit-config.yaml
  README.md
  src/github_actions_validator/config.py
  tests/README.md
  tests/test_discovery.py
  tests/test_error_handling.py
Due: none

test: add test comment to README
  README.md
Due: none

test: add another test comment to README
  README.md
Due: none

test: add test file with consistent line endings
  README.md
  test.md
Due: none

chore: clean up test files
  test.md
Due: none

chore: clean up test files
  README.md
  test_toml.py
Due: none

chore: remove local-secrets.json from git tracking
  .gitignore
Due: none

Path conditions:
  deps-lock: any of: ^(pyproject\.toml|requirements\.lock)$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
  actionlint: any of: ^\.github/workflows/.*\.(ya?ml|ya?ml\.example)$
